* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    font-family: 'Kalam', serif;
    font-size: 40px;
    background: #486b80;
    background: linear-gradient(0deg, rgba(72,107,128,1) 0%, rgba(39,57,68,1) 100%);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.verse4 {
    
}