* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Kalam', serif;
    font-size: 40px;
    background: #486b80;
    background: linear-gradient(0deg, rgba(72,107,128,1) 0%, rgba(39,57,68,1) 100%);
}
 
.verse2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kalam', serif;
    font-size: 40px;  
    letter-spacing: 0.2em;
    color:#ffffff;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*ryan trimble offered great tips and guides on CSS-Tricks. they explain animation properties and timing that i needed for this pg.*/
.shoot-in {
    display: block;
    animation-name: shootIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes shootIn {
    0% {
        transform: scale(5);
        opacity: 0;
    }
    
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.text-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.scaleisland {
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-text {
    color: green;
    font-size: 95px;
    font-weight: bold;
    opacity: 0;
    animation: drop 3s forwards;
    animation-delay: 3s;
    transition: transform 0.3s ease;
}

.large-text:hover {
    color: rgb(51, 171, 222);
}

@keyframes drop {
    0% {
        transform: translateY(-50px) scale(4) rotate(0deg); 
        opacity: 0; 
    }
    50% {
        transform: translateY(0) scale(1) rotate(0deg); 
        opacity: 1; 
    }
    75% {
        transform: translateY(0) scale(1) rotate(0deg); 
        opacity: 1; 
    }
    100% {
        transform: translateY(0) scale(1) rotate(20deg); 
        opacity: 1; 
    }
}
