* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    font-family: 'Kalam', serif;
    font-size: 40px;
    background: rgb(72,107,128);
    background: linear-gradient(0deg, rgba(72,107,128,1) 0%, rgba(39,57,68,1) 100%);
    margin-top: 300px;
}

.verse2 {
    font-family: 'Kalam', serif;
    font-size: 40px;
    color:#ffffff;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}